<?xml version="1.0"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="LocalDB" connectionString="Data Source=62.149.153.27;Initial Catalog=MSSql62605;Integrated Security=False;     User ID=MSSql62605;Password=c49a3b51;Connect Timeout=0;Encrypt=False;Packet Size=4096"/> -->
    <add name="LocalDB" connectionString="Data Source=PC-BRANDO; Database=HomoLaicus; Integrated Security=True; " /> 
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="HomePage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
<system.web>
    <securityPolicy>
        <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
</system.web>
-->

  
  <system.web>
    <compilation targetFramework="4.5.1" debug="true"/>
  </system.web>
</configuration>